/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
}

/* Header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.Primary-button{
    width: 180px;
    height: 64px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}
.nav-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;

}

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
}
.banner-title{
    color: var(--Dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 26px; 
}





    

